/* Structure */
.mat-car-box {
  position: relative;
  min-height: 200px;
  max-width: 70%;
  width: 70%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.6), 0 8px 10px 1px rgba(0, 0, 0, 0.42),
    0 3px 14px 2px rgba(0, 0, 0, 0.36);
}
#cancelReason {
  padding-bottom: 10px;
}
.toggle-options > * {
  margin-bottom: 5px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}
::ng-deep .mat-select-panel {
  max-width: 100% !important;
}
.mat-column-created {
  max-width: 124px;
}
div.full-width > * {
  width: 100%;
}

.left {
  width: 80% !important;
}
.right {
  width: 20% !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
::ng-deep .cdk-overlay-pane
{
  min-width: 82% !important;
}
 
::ng-deep .cdk-overlay-container
{
  display:inline-block;
}

::ng-deep .ng-animating .mat-option {
  margin-right: -32px;
}
