<div [hidden]="loading">
  <ng-container *ngIf="isPol; else noPOL">
    <div class="eca-actions">
              <button
          mat-stroked-button
          color="primary"
          type="button"
          [disabled]="ifSelected()"
          (click)="switchToElectronic()"
        >
          Transform to Electronic
        </button>
    </div>
    <form #form="ngForm">
      <div class="full-width">
        <p>Please select physical POL to transform to electronic POL according to configuration:</p>
        <mat-form-field appearance="standard" >
          <mat-label>Physical PO</mat-label>
          <mat-select  #physicalSelect required>
            <mat-option  *ngFor="let po of physicalPOLs" [value]="po">{{ po.number }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>  
      <!-- <mat-form-field appearance="standard" [style.width.%]="100">
        <mat-label>Please choose cancelation reason</mat-label>
        <mat-select
          placeholder="Cancel reason"
          #cancelReason
          id="cancelReason"
          name="reason"
          [(ngModel)]="selectedReason"
          required
        >
          <mat-option *ngFor="let cReason of cancelReasons" [value]="cReason">{{
            cReason.description
          }}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="standard" [style.width.%]="100">
        <mat-label>Add custom comment (Optional)</mat-label>
        <input name="comment" ngModel type="text" matInput #cancelCustom />
      </mat-form-field>
      <div class="toggle-options">
        <mat-slide-toggle
          name="override"
          ngModel
          (change)="onChangeSettings()"
          color="primary"
          style="margin-right: 5px"
          #override
          [(ngModel)]="storeSettings.override"
          >Override</mat-slide-toggle
        >
        <mat-slide-toggle
          (change)="onChangeSettings()"
          name="inform_vendor"
          ngModel
          color="primary"
          [(ngModel)]="storeSettings.inform_vendor"
          #informVendor
          >Inform vendor</mat-slide-toggle
        >
      </div>
      <br />
      <!-- <div class="full-width">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          [disabled]="ifSelected()" 
          (click)="switchToElectronic()"
        >
          Transform to Electronic
        </button>
      </div> -->
    </form>
  </ng-container>
  <ng-template #noPOL>
    <p>Please navigate to page with physical purchase order lines</p>
  </ng-template>
</div>
<div class="loading-shade" *ngIf="loading" #loading_spinner>
  <mat-progress-spinner mode="indeterminate" diameter="50"> </mat-progress-spinner>
</div>
